# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python

# IDE
.vscode/
.idea/
*.swp

# Base de datos
*.db
*.sqlite3

# Variables de entorno
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log